body {
	background-color: #000;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
	text-align:center;
	color: #fff;
}

#startBtn {
	margin-top: 30px;
	background: #000;
	border: 0px solid #000;
	text-transform: uppercase;
	font-size: 15px;
}

#startBtn:hover {
	color: #07c107;
}

#small-text {
	font-size: 15px;
	color: #fff;
}

h1 {
	color: #07c107;
}

h1, #small-text {
	line-height: 15px;
	margin-top: 32px;
}

h3 {
	margin-bottom: 20px;
}

h4 {
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #07c107;
	margin: 0 auto;
	width: 300px;
	margin-bottom: 20px;
}

.main-image {
	margin-top: 55px;
    -webkit-animation:spin 9s linear infinite;
    -moz-animation:spin 9s linear infinite;
    animation:spin 9s linear infinite;
	}

/*keyframes to make logo image rotate*/
	@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
	@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
	@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.choice:hover {
	background-color: #42f142;
	color: #000;
}

.fa {
	 font-size:20px;
	 color:#fff;"
}

#time-remaining, #content {
	margin-top: 45px;
	font-size: 18px;
}

#display, #content {
	padding-left: 20px;
	padding-right: 20px;
}

.choice {
	cursor: pointer;
}

.green {
	color: #07c107;
}

.restart-button {
	background-color: #07c107;
	border: 0px solid #07c107;
	margin-top: 15px;
	border-radius: 0px;
}

.restart-button:hover {
	background-color: #42f142;
	color: #000;
}


/*responsive styles*/
@media (max-width: 636px) {
	img { width: 80%;
	}
}

@media (max-width: 372px) {
	h4 { width: 80%;
	}
}
